<!-- <p *ngFor="let item of userRolesList">{{ item.scrumRolesId }}</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" href="#">{{ projectName }}</a>
</nav>
<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Project">
    <div class="col-md-4">
      <div class="shadow-lg">
        <div class="m-3">
          <b>NOTE</b><br />
          <small>
            You have following roles for this project. Based on roles you'll be
            able to manipulate project artifacts.<br /><i
              >Project will open in 'View Only' mode if no role is assigned</i
            >
          </small>
          <small *ngFor="let role of userRolesList">
            <li *ngIf="role.scrumRolesId === 1">Product Owner</li>
            <li *ngIf="role.scrumRolesId === 2">SCRUM Master</li>
            <li *ngIf="role.scrumRolesId === 3">Developer</li>
            <li *ngIf="userRolesList.length === 0">
              You have not been assigned any role yet
            </li>
          </small>
        </div>
      </div>

      <div class="shadow-lg ">
        <div class="m-3">
          <small>
            <b>Project Name</b><i> {{ projectInfo.projectName }}</i></small
          >
          <br />
          <small>
            <b>Description</b>{{ space }}
            <i>{{ projectInfo.projectDescription }}</i></small
          >
          <br />
          <small>
            <b>Key</b>{{ space }}
            <i class="badge badge-danger">{{ projectInfo.projectKey }}</i>
          </small>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Stories"> Content 1 </mat-tab>
  <mat-tab label="Sprints"> Content 2 </mat-tab>
  <mat-tab label="Epics"> Content 3 </mat-tab>
  <mat-tab label="Contributors"> Content 3 </mat-tab>
</mat-tab-group>
