<nav
  id="sidebar"
  class="sidebar "
  style="margin-top: 56px;"
  [ngClass]="{ 'sidebar-bg': hasBackgroundImage() }"
>
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-profile">
        <div class="user-pic">
          <img
            class="img-responsive img-rounded"
            src="assets/img/user.jpg"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <span class="user-name">
            {{ authService.decodedToken?.unique_name | titlecase }}
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input
              type="text"
              class="form-control search-menu"
              placeholder="Search..."
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li
            *ngFor="let menu of menus; let i = index"
            [ngClass]="{
              active: menu.active,
              'sidebar-dropdown': menu.type === 'dropdown',
              'header-menu': menu.type === 'header'
            }"
          >
            <span *ngIf="menu.type === 'header'">{{ menu.title }}</span>
            <a
              [routerLink]="routes[i - 1]"
              *ngIf="menu.type !== 'header'"
              (click)="toggle(menu)"
            >
              <i class="{{ menu.icon }}"></i>
              <span>{{ menu.title }}</span>
              <span
                *ngIf="menu.badge"
                class="badge badge-pill "
                [ngClass]="menu.badge.class"
                >{{ menu.badge.text }}</span
              >
            </a>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="sidebar-footer" style="padding-bottom: 80px;">
    <div class="dropdown" dropdown>
      <a (click)="toggleSpinner()" dropdownToggle>
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">
          {{ unReadCount }}</span
        >
      </a>
      <div
        style="padding-bottom: 40px;"
        class="dropdown-menu notifications"
        *dropdownMenu
      >
        <div class="notifications-header">
          <i class="fa fa-bell"></i>
          Notifications
          <mat-spinner
            style="display: inline;margin-left: 30px"
            [diameter]="20"
            [color]="matSprinnerColor"
            *ngIf="matSpinner === true"
          ></mat-spinner>
        </div>
        <div class="dropdown-divider"></div>
        <a
          style="cursor: pointer;"
          *ngFor="let notification of notifications"
          class="dropdown-item"
        >
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-check text-success border border-success"></i>
            </div>
            <div class="content">
              <strong>{{ notification.subject }}</strong
              ><br />
              <strong style="font-size: x-small;color: blueviolet">
                From:
                {{ notification.firstName }}
                {{ space }}
                {{ notification.lastName }}
              </strong>
              <div class="notification-detail">
                {{ notification.message }}
              </div>
              <div class="notification-time">
                {{ notification.createdAt | date: 'medium' }}
              </div>
            </div>

            <i
              (click)="accept(notification)"
              style="color: lawngreen;display: inline;padding-right: 8px"
              class="fa fa-check-circle"
            ></i>
            <i style="color: red;" class="fa fa-times-circle"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="dropdown" dropdown>
      <a href="#" dropdownToggle>
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <div class="dropdown-menu messages" *dropdownMenu>
        <div class="messages-header">
          <i class="fa fa-envelope"></i>
          Messages
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="" />
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                totam explicabo
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="" />
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                totam explicabo
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="" />
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                totam explicabo
              </div>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center">View all messages</a>
      </div>
    </div>
    <div class="dropdown" dropdown>
      <a href="#" dropdownToggle>
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="#">My profile</a>
        <a class="dropdown-item" href="#">Help</a>
        <a class="dropdown-item" href="#">Setting</a>
      </div>
    </div>
    <div>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </div>
</nav>
