#listItem {
  overflow: hidden;
  overflow-y: scroll;
  height: 230px;
  width: 50%;
}
#description {
  display: inline-block;
  width: 380px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
#project {
  cursor: pointer;
}
div.color {
  font-size: larger;
  padding: 10px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: orange;
}
.card-header {
  background-color: mediumorchid;
}
.bdg {
  font-size: 12px;
}
