<div style="margin-left: 250px;" class="mt-5">
  <button
    type="button"
    class=" m-3 ml-4"
    mat-raised-button
    color="warn"
    (click)="openModal(template)"
  >
    Create New &nbsp; <i class="fa fa-plus-circle" style="font-size: 20px;"></i>
  </button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Project Details</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #newProjectForm="ngForm" (ngSubmit)="newProject()">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Project Name"
          name="projectName"
          [(ngModel)]="projectModel.projectName"
          required
        /><br />
        <textarea
          class="form-control mr-sm-2"
          type="text"
          placeholder="Project Description"
          name="projectDescription"
          [(ngModel)]="projectModel.projectDescription"
          required
        >
        </textarea
        ><br />
        <input
          class="form-control mr-sm-2"
          type="text"
          [maxLength]="5"
          placeholder="Project Key"
          name="projectKey"
          [(ngModel)]="projectModel.projectKey"
          required
        />
        <hr />
        <button
          [disabled]="!newProjectForm.valid"
          class="btn btn-success my-2 my-sm-0"
          type="submit"
        >
          Create
        </button>
      </form>
    </div>
  </ng-template>

  <div class="row w-100 ml-4">
    <div class="col-md-5">
      <div class="card  ">
        <div class="card-header  text-light w-100">
          <h4 class="card-title">Projects</h4>
        </div>
        <perfect-scrollbar>
          <div class="card-body">
            <div style="cursor: pointer" *ngFor="let project of userProjects">
              <a (click)="sendProjectId(project.id)">
                <div class="color">
                  <div class="row">
                    <div class="col-md-7">
                      <p>{{ project.projectName }}</p>
                      <p class="badge badge-danger bdg text-center pull-left ">
                        {{ project.projectKey }}
                      </p>
                    </div>
                  </div>
                  <small>{{ project.projectDescription }}</small>
                </div>
                <hr />
              </a>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Project Contributions
        </li>
        <li *ngFor="let project of contributions" class="list-group-item ">
          <div class="d-inline-block">
            {{ project.projectName }}
          </div>
          <div class="d-inline-block ml-3 badge badge-info">
            {{ project.projectKey }}
          </div>
          <div class="d-inline-block ml-3 ">
            <small>
              <i>(Supervised by: {{ project.userName }} )</i>
            </small>
          </div>
          <div class="d-inline-block ml-3 pull-right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span>Supervisor</span>
              </button>
              <button mat-menu-item>
                <mat-icon>description</mat-icon>
                <span>View Artifacts</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete_outline</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
