<div class="row">
  <div class="col-md-2" *ngIf="loggedIn()">
    <app-sidebar></app-sidebar>
  </div>

  <div class="{{ class1 }}" *ngIf="!loggedIn()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Agile FootPrints</a>

      <ul class="navbar-nav mr-auto">
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/project']">Projects</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown pr-3" dropdown>
        <a class="dropdown-toggle fa fa-bell text-light" dropdownToggle> </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/userProfile']"> Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i>Logout</a
          >
        </div>
      </div>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle fa fa-user-circle text-light" dropdownToggle>
          User {{ authService.decodedToken?.unique_name | titlecase }}
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/userProfile']"> Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i>Logout</a
          >
        </div>
      </div>

      <form
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="login()"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="loginModel.username"
          required
        />
        <input
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="loginModel.password"
          required
        />
        <button
          [disabled]="!loginForm.valid"
          class="btn btn-success my-2 my-sm-0"
          type="submit"
        >
          Login
        </button>
      </form>
    </nav>
  </div>
  <div class="{{ class2 }}" *ngIf="loggedIn()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Agile FootPrints</a>

      <ul class="navbar-nav mr-auto">
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/project']">Projects</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown pr-3" dropdown>
        <a class="dropdown-toggle fa fa-bell text-light" dropdownToggle> </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/userProfile']"> Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i>Logout</a
          >
        </div>
      </div>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle fa fa-user-circle text-light" dropdownToggle>
          User {{ authService.decodedToken?.unique_name | titlecase }}
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/userProfile']"> Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i>Logout</a
          >
        </div>
      </div>

      <form
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="login()"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="loginModel.username"
          required
        />
        <input
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="loginModel.password"
          required
        />
        <button
          [disabled]="!loginForm.valid"
          class="btn btn-success my-2 my-sm-0"
          type="submit"
        >
          Login
        </button>
      </form>
    </nav>
  </div>
</div>

<div *ngIf="!loggedIn()" class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>AGILE FOOTPRINTS</h1>
    <p class="lead">
      A SCRUM Based Project Management and Tracebility tools for Software
      developemnt
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
