<app-sidebar></app-sidebar>
<app-subnavbar></app-subnavbar>
<div class="container ">
  <div class="row" style="margin-left: 100px;">
    <div class="wrap">
      <div class="search col-md-5 " style="display: inline">
        <input
          (keyup)="checkUserName()"
          [(ngModel)]="userName"
          type="text"
          class="searchTerm"
          placeholder="Search User"
        />
      </div>
      <div style="display: inline">
        <button (click)="getUser()" type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <p class="pull-right">
      Total Contributors <strong>{{ contributors.length }}</strong>
    </p>
  </div>
  <div class="row">
    <div
      *ngIf="invalidUserNameCheck === true"
      class=" row w-100 alert alert-danger float-left"
    >
      <strong>ERROR !</strong> You cannot search your own username
    </div>
    <div
      *ngIf="isUserNull === true"
      class=" row w-100 alert alert-danger float-left"
    >
      <strong>Not Found !</strong> No User found that matches the specified
      username
    </div>
    <div
      *ngIf="successNotify === true"
      class=" row w-100 alert alert-success float-left"
    >
      <strong>Success !</strong> Invitation sent. User will be able to see
      project artifacts once user accepts the invitation
    </div>
    <div
      *ngIf="contributors.length === 0"
      class=" row w-100 alert alert-primary float-left"
    >
      <strong>Welcome! </strong> Currently no user is contributing to this
      project
    </div>
    <div
      *ngIf="isDuplicate === true"
      class=" row w-100 alert alert-warning float-left"
    >
      <strong>Oops! </strong> The user is already contributing to this project
    </div>
    <div
      *ngIf="removeSuccess === true"
      class=" row w-100 alert alert-primary float-left"
    >
      <strong>Success! </strong> User Removed. The User will no loger be able to
      view this project.
    </div>
  </div>
  <div
    *ngIf="contributors.length > 0"
    class="h-100 effect1"
    style="overflow-y: scroll;"
  >
    <div class="card card-default" id="card_contacts">
      <div
        id="contacts"
        class="panel-collapse collapse show"
        aria-expanded="true"
      >
        <ul class="list-group box " id="contact-list">
          <li *ngFor="let contributor of contributors" class="list-group-item">
            <div class="row w-100">
              <div class="col-12 col-sm-6 col-md-3 px-0">
                <img
                  src="assets/img/user.jpg"
                  height="100px"
                  width="100px"
                  alt="Mike Anamendolla"
                  class="rounded-circle mx-auto d-block img-fluid"
                />
              </div>
              <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                <button
                  (click)="contact(contributor.userName)"
                  class="pull-right "
                  mat-raised-button
                  color="warn"
                >
                  Contact
                </button>
                <button
                  (click)="removeContributor(contributor)"
                  class="pull-right"
                  mat-raised-button
                  color="primary"
                >
                  Remove
                </button>
                <strong
                  >{{ contributor.firstName }}
                  {{ space }}
                  {{ contributor.lastName }}</strong
                >
                <br />
                <span
                  class="fa fa-phone fa-fw text-muted"
                  data-toggle="tooltip"
                  title=""
                  data-original-title="(870) 288-4149"
                ></span>
                <span class="text-muted small">
                  0{{ contributor.phoneNumber }}
                </span>
                <br />
                <span
                  class="fa fa-envelope fa-fw text-muted"
                  data-toggle="tooltip"
                  data-original-title=""
                  title=""
                ></span>
                <span class="text-muted small text-truncate">
                  {{ contributor.email }}
                </span>
              </div>
            </div>
          </li>
        </ul>
        <!--/contacts list-->
      </div>
    </div>
  </div>
</div>
