<!-- <div class="col-md-2 pull-left" style="margin-left: 250px;">
  <button class="mt-3" mat-button [matMenuTriggerFor]="ProjectManagement">
    Project Management
  </button>

  <mat-menu #ProjectManagement="matMenu">
    <button mat-menu-item (click)="editProject()">
      Edit project Details
    </button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item (click)="deleteProject()">Delete project</button>
  </mat-menu>
  <hr />

  <button mat-button [matMenuTriggerFor]="EpicManagement">
    Epic Management
  </button>

  <mat-menu #EpicManagement="matMenu">
    <button
      *ngFor="let epic of projectEpics"
      mat-menu-item
      [matMenuTriggerFor]="subMenu"
      (mouseenter)="setEpicId(epic.id)"
    >
      {{ epic.epicName }}
    </button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item (click)="newEpic()">Create new Epic</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button class="btn btn-primary ml-2" (click)="editEpic()">
      <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-danger ml-2" (click)="deleteEpic()">
      <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-success ml-2 mr-3">
      <i class="fa fa-eye"></i>
    </button>
    <div class="dropdown-divider"></div>
  </mat-menu>
  <hr />
</div> -->
<div style="padding-left: 250px;">
  <app-subnavbar [epics]="projectEpics"></app-subnavbar>
</div>
<div class="row w-100 " style="margin-top: 90px;">
  <div class="color col-md-4" style="margin-left: 300px;">
    <div class="row">
      <div class="col-md-7">
        <strong>Dashboard - </strong>
        <h5>{{ projectDetails.projectName }}</h5>
        <p class="badge badge-danger bdg text-center pull-left ">
          {{ projectDetails.projectKey }}
        </p>
      </div>
    </div>
    <small>{{ projectDetails.projectDescription }}</small>
  </div>

  <div
    class="col-md-5"
    style="margin-top: 10px; max-height:150px; overflow-y:scroll;"
  >
    <div *ngIf="projectEpics.length === 0" class="bg-info rounded mt-2">
      <span class="pl-3 badge badge-info text-light">
        No Epic has been created yet
      </span>
    </div>

    <div class="mt-2">
      <ul *ngIf="projectEpics.length > 0" class="list-group">
        <li class="list-group-item justify-content-between bg-info text-light">
          <h5 style="display: inline">Epics</h5>
          <span class="pl-3"
            ><a
              (click)="newEpic()"
              class=" btn-link"
              style="color: purple; cursor: pointer;"
              >New</a
            >
          </span>
        </li>
        <li
          *ngFor="let epic of projectEpics"
          class="list-group-item justify-content-between"
          style="line-height: 20px"
        >
          <div class="row w-100">
            <div class="col-md-auto">
              {{ epic.epicName }}
            </div>
            <div class=" col-md-2 pl-2">
              <span
                class="badge badge-danger"
                (click)="deleteEpic(epic.id)"
                style="cursor: pointer"
              >
                <i class="fa fa-trash "></i>
              </span>
              <span
                (click)="editEpic(epic.id)"
                class="badge badge-primary ml-2"
                style="cursor: pointer"
              >
                <i class="fa fa-edit "></i>
              </span>
            </div>
            <div class="col-md-7">
              <span
                *ngIf="epic.stories !== null"
                class="badge badge-success badge-pill pull-right"
              >
                {{ epic.stories.length }}
              </span>
              <span
                *ngIf="epic.stories === null"
                class="badge badge-success badge-pill pull-right"
              >
                <small>No stories in this epic</small>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<br />
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Sprints Panels -->
<div style="margin-left: 250px;">
  <ngb-accordion #sprints="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Sprints">
      <ng-template ngbPanelContent>
        <div class="search-div">
          <button mat-raised-button color="primary" (click)="newSprint()">
            New Sprint
          </button>
          <mat-form-field class="search-form-field">
            <input
              matInput
              [(ngModel)]="searchKey"
              placeholder="Search"
              autocomplete="off"
              (keyup)="applyFilter()"
            />
            <button
              *ngIf="searchKey"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onSearchClear()"
            >
              <mat-icon>x</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <mat-expansion-panel
            class="pt-2"
            *ngFor="let sprint of proejctSprints; let i = index"
          >
            <mat-expansion-panel-header cdkDrop class="bg-danger">
              <mat-panel-title class="mt-2 text-light">
                {{ sprint.sprintName }}
              </mat-panel-title>

              <mat-panel-description>
                <b
                  *ngIf="sprint.startDate !== undefined"
                  class="pr-5 pt-2 text-light"
                >
                  Starts:
                  {{ sprint.startDate | date: 'dd/MMM/yyyy HH:mm:SS' }}
                </b>
                <b
                  class="pr-5 pt-2 text-light"
                  *ngIf="sprint.startDate === undefined"
                >
                  Starts:</b
                >
                <i
                  class="pr-5 pt-2 text-light"
                  *ngIf="sprint.endDate === undefined"
                  >Not yet Specified</i
                >

                <b
                  *ngIf="sprint.endDate !== undefined"
                  class="pr-5 pt-2 text-light"
                  >Ends : {{ sprint.endDate | date: 'dd/MMM/yyyy HH:mm:SS' }}</b
                >
                <b
                  class="pr-5 pt-2 text-light"
                  *ngIf="sprint.endDate === undefined"
                >
                  Starts:</b
                >
                <i
                  class="pr-5 pt-2 text-light"
                  *ngIf="sprint.endDate === undefined"
                  >Not yet Specified</i
                >
                <small class="text-light pt-2" *ngIf="sprint.statusId === 1"
                  >(Status: To Do)</small
                >
                <small class="text-light pt-2" *ngIf="sprint.statusId === 2"
                  >(Status: In progress)</small
                >
                <small class="text-light pt-2" *ngIf="sprint.statusId === 3"
                  >(Status: Completed)</small
                >
                <!-- <div class="d-inline-block ml-3 pull-right">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>Launch</mat-icon>
                      <span>Start</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>description</mat-icon>
                      <span>View Artifacts</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete_outline</mat-icon>
                      <span>Remove</span>
                    </button>
                  </mat-menu>
                </div> -->
                <div class="pl-5 pull-right">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button
                      mat-mini-fab
                      matTooltip="Update Sprint properties"
                      color="primary"
                    >
                      <mat-icon aria-label=" icon-button with a update icon"
                        >update</mat-icon
                      ></button
                    >&nbsp;&nbsp;
                    <button
                      mat-mini-fab
                      matTooltip="Delete Sprint"
                      color="warn"
                    >
                      <mat-icon aria-label="icon-button with a delete icon"
                        >delete</mat-icon
                      ></button
                    >&nbsp;&nbsp;
                    <button
                      mat-mini-fab
                      matTooltip="Start Sprint"
                      color="warn"
                      (click)="launchSprint(sprint.id)"
                    >
                      <i class="fa fa-play"></i>
                    </button>
                    &nbsp;&nbsp;
                  </mat-menu>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div id="head2" class="row  text-light mt-2">
              <div class="col-sm pt-2">No</div>
              <div class="col-sm pt-2">
                Story Name
              </div>
              <div class="col-sm pt-2">
                Description
              </div>
              <div class="col-sm pt-2">
                Acceptance Criteria
              </div>
            </div>
            <div class="row pt-2" *ngIf="sprint.stories?.length === 0">
              <i style="justify-content: center">
                No stories added to this sprint</i
              >
            </div>
            <div
              id="rcorners1"
              *ngFor="let item of sprint.stories; let i = index"
              class="row bg-success text-light mt-2"
            >
              <div class="col-sm pt-1">
                {{ i + 1 }}
              </div>
              <div matTooltip="{{ item.storyName }}" class="col-sm pt-1">
                {{ item.storyName }}
              </div>
              <div matTooltip="{{ item.storyDescription }}" class="col-sm pt-1">
                {{ item.storyDescription }}
              </div>
              <div
                matTooltip="{{ item.acceptanceCriteria }}"
                class="col-sm pt-1"
              >
                {{ item.acceptanceCriteria }}
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<!-- Sprints Panel End -->
<div style="margin-left: 250px;">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><b>Product Backlog</b> </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="search-div">
          <button
            mat-raised-button
            color="primary"
            (click)="onCreateNewStory()"
          >
            Create New Story
          </button>
          <mat-form-field class="search-form-field">
            <input
              matInput
              [(ngModel)]="searchKey"
              placeholder="Search"
              autocomplete="off"
              (keyup)="applyFilter()"
            />
            <button
              *ngIf="searchKey"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onSearchClear()"
            >
              <mat-icon>x</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8" *ngIf="projectStories.length > 0">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="priority">
              <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <i
                  *ngIf="row.priorityId === 1"
                  id="highPriority"
                  class="fa fa-arrow-up"
                  ><p id="priorityText">High</p></i
                >
                <i
                  *ngIf="row.priorityId === 2"
                  id="mediumPriority"
                  class="fa fa-arrow-up"
                  ><p id="priorityText">Medium</p></i
                >
                <i
                  *ngIf="row.priorityId === 3"
                  id="lowPriority"
                  class="fa fa-arrow-up"
                  ><p id="priorityText">Low</p></i
                >
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="storyName">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Story Name</mat-header-cell
              >
              <mat-cell *matCellDef="let story" cdkDrag>
                {{ story.storyName }}
              </mat-cell>
            </ng-container>
            <ng-container id="storyDesc" matColumnDef="storyDescription">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Story Description
              </mat-header-cell>
              <mat-cell class="storyDescription" *matCellDef="let story">
                {{ story.storyDescription }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="epic">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Epic</mat-header-cell
              >
              <mat-cell *matCellDef="let story">
                <div
                  style="font-size: 13px"
                  *ngIf="story.epic !== null"
                  class="badge badge-info ml-5"
                >
                  {{ story.epic.epicName }}
                </div>
                <div
                  style="font-size: 13px"
                  *ngIf="story.epic === null"
                  class="badge badge-danger ml-5"
                >
                  Not Assigned to Epic
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sprint">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Sprint</mat-header-cell
              >
              <mat-cell *matCellDef="let story">
                <mat-form-field *ngIf="story.sprint === null">
                  <mat-select
                    (selectionChange)="storySprintChange($event, story.id)"
                    placeholder="Select"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let sprint of proejctSprints"
                      [value]="sprint.id"
                      >{{ sprint.sprintName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="story.sprint !== null">
                  <mat-select
                    (selectionChange)="storySprintChange($event, story.id)"
                    placeholder="{{ story.sprint.sprintName }}"
                  >
                    <mat-option
                      *ngFor="let sprint of proejctSprints"
                      [value]="sprint.id"
                      >{{ sprint.sprintName }}</mat-option
                    ></mat-select
                  >
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button
                  mat-raised-button
                  color="primary"
                  class=" ml-2"
                  (click)="editStory(row.id)"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  class="ml-3"
                  (click)="deleteStory(row.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>

        <div *ngIf="projectStories.length === 0">
          <p style="font-style: italic;justify-content: center">
            No Stories for this project
          </p>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
