<div class="col-md-2 pull-left">
  <button class="mt-3" mat-button [matMenuTriggerFor]="ProjectManagement">
    Project Management
  </button>

  <mat-menu #ProjectManagement="matMenu">
    <button mat-menu-item (click)="editProject()">Edit project Details</button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item (click)="deleteProject()">Delete project</button>
  </mat-menu>
  <hr />

  <button mat-button [matMenuTriggerFor]="EpicManagement">
    Epic Management
  </button>

  <mat-menu #EpicManagement="matMenu">
    <button
      *ngFor="let epic of projectEpics"
      mat-menu-item
      [matMenuTriggerFor]="subMenu"
      (mouseenter)="setEpicId(epic.id)"
    >
      {{ epic.epicName }}
    </button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item (click)="newEpic()">Create new Epic</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button class="btn btn-primary ml-2" (click)="editEpic()">
      <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-danger ml-2" (click)="deleteEpic()">
      <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-success ml-2 mr-3"><i class="fa fa-eye"></i></button>
    <div class="dropdown-divider"></div>
  </mat-menu>
  <hr />
</div>
<div class="vr">&nbsp;</div>

<div class="row mt-3 mb-3">
  <div class="card" style="width: 500px">
    <div class="card-header bg-primary text-light w-100">
      {{ projectDetails.projectName }}
    </div>
    <div class="card-body">
      <strong> Description </strong><br />
      {{ projectDetails.projectDescription }}<br />
      <hr />
      <strong> KEY</strong><br />
      {{ projectDetails.projectKey }}
    </div>
  </div>
  <div class="col-md-7">
    <div class="btn-group pull-right" dropdown>
      <button mat-raised-button color="warn">
        Manage Contributors
      </button>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Sprints Panels -->
<ngb-accordion #sprints="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Sprints">
    <ng-template ngbPanelContent>
      <div class="search-div">
        <button mat-raised-button color="primary" (click)="newSprint()">
          New Sprint
        </button>
        <mat-form-field class="search-form-field">
          <input
            matInput
            [(ngModel)]="searchKey"
            placeholder="Search"
            autocomplete="off"
            (keyup)="applyFilter()"
          />
          <button
            *ngIf="searchKey"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="onSearchClear()"
          >
            <mat-icon>x</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <mat-expansion-panel
          cdkDropList
          #sprintList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListConnectedTo]="[storyList]"
          class="pt-2"
          *ngFor="let sprint of proejctSprints"
        >
          <mat-expansion-panel-header cdkDrop class="bg-primary">
            <mat-panel-title class="mt-2 text-light">
              {{ sprint.sprintName }}
            </mat-panel-title>

            <mat-panel-description>
              <b
                *ngIf="sprint.startDate !== undefined"
                class="pr-5 pt-2 text-light"
              >
                Starts: {{ sprint.startDate | date: 'dd/MMM/yyyy HH:mm:SS' }}
              </b>
              <b
                class="pr-5 pt-2 text-light"
                *ngIf="sprint.startDate === undefined"
              >
                Starts:</b
              >
              <i
                class="pr-5 pt-2 text-light"
                *ngIf="sprint.endDate === undefined"
                >Not yet Specified</i
              >

              <b
                *ngIf="sprint.endDate !== undefined"
                class="pr-5 pt-2 text-light"
                >Ends : {{ sprint.endDate | date: 'dd/MMM/yyyy HH:mm:SS' }}</b
              >
              <b
                class="pr-5 pt-2 text-light"
                *ngIf="sprint.endDate === undefined"
              >
                Starts:</b
              >
              <i
                class="pr-5 pt-2 text-light"
                *ngIf="sprint.endDate === undefined"
                >Not yet Specified</i
              >

              <div class="pl-5">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button
                    mat-mini-fab
                    matTooltip="Update Sprint properties"
                    color="primary"
                  >
                    <mat-icon aria-label=" icon-button with a update icon"
                      >update</mat-icon
                    ></button
                  >&nbsp;&nbsp;
                  <button mat-mini-fab matTooltip="Delete Sprint" color="warn">
                    <mat-icon aria-label="icon-button with a delete icon"
                      >delete</mat-icon
                    ></button
                  >&nbsp;&nbsp;
                  <button
                    mat-mini-fab
                    matTooltip="Start Sprint"
                    color="warn"
                    (click)="launchSprint(sprint.id)"
                  >
                    <i class="fa fa-play"></i>
                  </button>
                  &nbsp;&nbsp;
                </mat-menu>
              </div>

              <span class="label label-primary">{{ sprintStatus }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="First name" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Age" />
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<!-- Sprints Panel End -->
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span><b>Product Backlog</b> </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="search-div">
        <button mat-raised-button color="primary" (click)="onCreateNewStory()">
          Create New Story
        </button>
        <mat-form-field class="search-form-field">
          <input
            matInput
            [(ngModel)]="searchKey"
            placeholder="Search"
            autocomplete="off"
            (keyup)="applyFilter()"
          />
          <button
            *ngIf="searchKey"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="onSearchClear()"
          >
            <mat-icon>x</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8" *ngIf="projectStories.length > 0">
        <mat-table
          cdkDropList
          #storyList="cdkDropList"
          [cdkDropListConnectedTo]="[sprintList]"
          [dataSource]="dataSource"
          matSort
        >
          <ng-container matColumnDef="priority">
            <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <i
                *ngIf="row.priorityId === 1"
                id="highPriority"
                class="fa fa-arrow-up"
                ><p id="priorityText">High</p></i
              >
              <i
                *ngIf="row.priorityId === 2"
                id="mediumPriority"
                class="fa fa-arrow-up"
                ><p id="priorityText">Medium</p></i
              >
              <i
                *ngIf="row.priorityId === 3"
                id="lowPriority"
                class="fa fa-arrow-up"
                ><p id="priorityText">Low</p></i
              >
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="storyName">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Story Name</mat-header-cell
            >
            <mat-cell *matCellDef="let story" cdkDrag>
              {{ story.storyName }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="storyDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Story Description
            </mat-header-cell>
            <mat-cell *matCellDef="let story">
              {{ story.storyDescription }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="epic">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Epic</mat-header-cell
            >
            <mat-cell *matCellDef="let story">
              <div
                style="font-size: 13px"
                *ngIf="story.epic !== null"
                class="badge badge-info ml-5"
              >
                {{ story.epic.epicName }}
              </div>
              <div
                style="font-size: 13px"
                *ngIf="story.epic === null"
                class="badge badge-danger ml-5"
              >
                Not Assigned to Epic
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                mat-raised-button
                color="primary"
                class=" ml-2"
                (click)="editStory(row.id)"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                mat-raised-button
                color="warn"
                class="ml-3"
                (click)="deleteStory(row.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>

      <div *ngIf="projectStories.length === 0">
        <p style="font-style: italic;justify-content: center">
          No Stories for this project
        </p>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<!-- <div class="container ">
  <div class="row ml-4">
    <div
      cdkDropList
      id="list-one"
      [cdkDropListConnectedTo]="['list-two']"
      class="example-list ml-5 mt-5"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="movies"
    >
      <div
        class="example-box"
        *ngFor="let epic of movies"
        cdkDrag
        [cdkDragData]="epic"
      >
        {{ epic }}
      </div>
    </div>

    <div
      cdkDropList
      id="list-two"
      [cdkDropListConnectedTo]="['list-one']"
      class="example-list ml-5 mt-5"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="tests"
    >
      <div
        class="example-box"
        *ngFor="let epic of tests"
        cdkDrag
        [cdkDragData]="epic"
      >
        {{ epic }}
      </div>
    </div>
  </div>
</div> -->
