<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src=".\node_modules\chart.js\src\chart.js"></script>
</head>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
></ngx-spinner>

<div class="container ">
  <button
    (click)="completeNotify()"
    mat-raised-button
    color="warn"
    class="pull-right"
  >
    Complete Sprint
  </button>
</div>
<div class="container pt-5">
  <hr />
  <div class="card bg-danger">
    <div class="card-header text-light"><h4>To Do</h4></div>

    <div
      cdkDropList
      #Todo="cdkDropList"
      [cdkDropListData]="toDo"
      [cdkDropListConnectedTo]="[InProgress, Completed]"
      class="example-list"
      (cdkDropListDropped)="dropToDo($event)"
    >
      <p
        *ngIf="toDo.length === 0 || toDo === null"
        style="font-style: italic;text-align: center;color: red"
      >
        No work to do.
      </p>
      <div class="d-flex flex-row" *ngFor="let story of toDo" cdkDrag>
        <div class="p-2">{{ story.storyName }}</div>
        <div class="p-2 ">
          <span class="label label-danger">{{ story.sprint.sprintName }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-primary">
    <div class="card-header text-light"><h4>In Progress</h4></div>

    <div
      cdkDropList
      #InProgress="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[Todo, Completed]"
      class="example-list"
      (cdkDropListDropped)="dropInProgress($event)"
    >
      <p
        *ngIf="inProgress.length === 0 || inProgress === null"
        style="font-style: italic;text-align: center;color: blue"
      >
        No stories In progress
      </p>
      <div
        class="d-flex flex-row"
        *ngFor="let storyInProgress of inProgress"
        cdkDrag
      >
        <div class="p-2" style="color: black">
          {{ storyInProgress.storyName }}
        </div>
        <div class="p-2 ">
          <span class="label label-primary">
            {{ storyInProgress.sprint.sprintName }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-header text-light"><h4>Completed</h4></div>

    <div
      cdkDropList
      #Completed="cdkDropList"
      [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[Todo, InProgress]"
      class="example-list"
      (cdkDropListDropped)="dropCompleted($event)"
    >
      <p
        *ngIf="completed.length === 0 || completed === null"
        style="font-style: italic; text-align: center;color: green"
      >
        No stories have been completed
      </p>
      <div
        class="d-flex flex-row"
        *ngFor="let storyCompleted of completed"
        cdkDrag
      >
        <div class="p-2">{{ storyCompleted.storyName }}</div>
        <div class="p-2 ">
          <span class="label label-success">
            {{ storyCompleted.sprint.sprintName }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div style="display: block">
    <canvas
      style="position: relative; height:20vh; width:40vw"
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
    >
    </canvas>
  </div>
</div>
