<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
></ngx-spinner>
<div class="container ml-0">
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      #todo="cdkDropList"
      [cdkDropListData]="toDo"
      [cdkDropListConnectedTo]="[inProgress, completed]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let sprint of stories">
        <div class="example-box" *ngFor="let story of sprint.stories" cdkDrag>
          <div *ngIf="story.statusId === 1">{{ story.storyName }}<br /></div>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgress="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todo, completed]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let item of stories" cdkDrag>
        <div class="example-box" *ngFor="let story of item.stories">
          <div *ngIf="story.statusId === 2">{{ story.storyName }}<br /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>Completed</h2>

    <div
      cdkDropList
      #completed="cdkDropList"
      [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[toDo, inProgress]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let item of stories" cdkDrag>
        <div class="example-box" *ngFor="let story of item.stories">
          <div *ngIf="story.statusId === 3">{{ story.storyName }}<br /></div>
        </div>
      </div>
    </div>
  </div>
</div>
