<mat-form-field appearance="outline">
  <mat-label>Sprint Name</mat-label>
  <input
    (keyup)="isNull()"
    matInput
    [(ngModel)]="sprintName"
    placeholder="Sprint Name"
    required
  />
  <mat-hint>Min length 3</mat-hint>
</mat-form-field>
<div class="row">
  <div class="col-md-2">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
  <div class="col-md-2">
    <button
      [disabled]="disable"
      mat-raised-button
      color="warn"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
