<h5>Specify Starting and ending date for sprint</h5>
<hr />
<br />
<div class="row">
  <div class="col-md-7 w-100 ">
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="starts"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="startsAt"
        placeholder="Starts At"
      />
      <mat-datepicker-toggle matSuffix [for]="startsAt"></mat-datepicker-toggle>
      <mat-datepicker #startsAt></mat-datepicker>
    </mat-form-field>
  </div>
  <br />
</div>
<div class="row">
  <div class="col-md-7 w-100">
    <mat-form-field class="example-full-width">
      <input
        [disabled]="!starts"
        matInput
        [(ngModel)]="ends"
        [min]="starts"
        [max]="maxDate"
        [matDatepicker]="endsAt"
        placeholder="Ends At"
      />
      <mat-datepicker-toggle matSuffix [for]="endsAt"></mat-datepicker-toggle>
      <mat-datepicker #endsAt></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<hr />
<b>Start's at :</b>{{ starts | date: 'dd/MMM/yyyy hh:mm:ss' }}<br />
<b>Ends at :</b> {{ ends | date: 'dd/MMM/yyyy hh:mm:ss' }}
<hr />
<div class="row">
  <div class="col-md-3">
    <button mat-raised-button color="primary" (click)="close()">Cancel</button>
  </div>
  <div class="col-md-4 pl-2">
    <button mat-raised-button color="warn" (click)="save()">
      Start<i class="fa fa-play pl-2"></i>
    </button>
  </div>
</div>
